/* =============== Weather Card Base =============== */

.weather-card {
  width: 100%;
  height: 80px;

  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;

  border-radius: 16px;

  display: flex;
  align-items: center;
  padding: 0 24px;

  box-sizing: border-box;
  position: relative;
}

/* Temperature text */
.weather-card__temp {
  margin: 0;

  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);

  position: relative;
  z-index: 2;
}

/* Dark overlay on background */
.weather-card::after {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 16px;

  z-index: 1;
}

/* ==================== Weather Themes ==================== */

/* Day */
.weather-card_theme_day-clear {
  background-image: url("../../assets/weather/day-clear.png");
}
.weather-card_theme_day-cloudy {
  background-image: url("../../assets/weather/day-cloudy.png");
}
.weather-card_theme_day-rain {
  background-image: url("../../assets/weather/day-rain.png");
}
.weather-card_theme_day-snow {
  background-image: url("../../assets/weather/day-snow.png");
}
.weather-card_theme_day-fog {
  background-image: url("../../assets/weather/day-fog.png");
}

/* Night */
.weather-card_theme_night-clear {
  background-image: url("../../assets/weather/night-clear.png");
}
.weather-card_theme_night-cloudy {
  background-image: url("../../assets/weather/night-cloudy.png");
}
.weather-card_theme_night-rain {
  background-image: url("../../assets/weather/night-rain.png");
}
.weather-card_theme_night-snow {
  background-image: url("../../assets/weather/night-snow.png");
}
.weather-card_theme_night-fog {
  background-image: url("../../assets/weather/night-fog.png");
}

/* ==================== Mobile ==================== */

@media screen and (max-width: 600px) {
  .weather-card {
    height: 72px;
    padding: 0 16px;
  }

  .weather-card__temp {
    font-size: 32px;
  }
}
