.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}

.page__content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 40px 40px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  box-sizing: border-box;
  background-color: #f3f3f3;
}

@media screen and (max-width: 375px) {
  .page__content {
    padding: 16px;
    text-align: center;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
  }

  .header__left,
  .header__right {
    justify-content: center;
    text-align: center;
  }

  .weather-card {
    margin: 0 auto;
  }

  .main__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .main__cards {
    justify-content: center;
    grid-template-columns: 1fr !important;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
  }
}
