/* src/components/Footer/Footer.css */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 32px;
  margin-top: 48px;
  border-top: 1px solid #d9d9d9;

  background-color: #f3f3f3;

  color: #000;
  font-size: 16px;
}

.footer__text {
  margin: 0;

  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

@media screen and (max-width: 430px) {
  .footer {
    margin-top: 32px;
    padding-top: 20px;
    font-size: 12px;

    justify-content: space-between;
  }

  .footer__text {
    white-space: nowrap;
  }
}
