@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

body {
  font-family: "Cabinet Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background-color: #f3f3f3;
  color: #000;
}
